<form action="/edit_stylist" method="post">
  <div class="form-group">
    <label for="edit-stylist">Add a stylist to the salon:</label>
    <input class="form-control" name="edit-stylist" type="text" placeholder="Darren Dyes">
  </div>
  <button type="submit" name="form-submit" class="btn btn-primary btn-block">Click to update!</button>
</form>
<form action="/delete_stylist" method="post">
  <button type="submit" name="form-submit" class="btn btn-primary btn-block">Or delete the stylist!</button>
</form>
