<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

        <ul class="nav nav-pills nav-justified">
          <li role="presentation"><a href="home.html.twig">Home</a></li>
          <li role="presentation"><a href="clients.html.twig">Clients</a></li>
          <li role="presentation"><a href="stylists.html.twig">Stylists</a></li>
          <li role="presentation"><a href="add_client.html.twig">Add Client</a></li>
          <li role="presentation"><a href="add_stylist.html.twig" class="active">Add Stylist</a></li>
        </ul>

        <div class="panel panel-primary">
          <div class="panel-heading">Welcome to your SQL Salon Manager!
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-6">
                <p>Add new stylists in the form to the right.</p>

                <!-- If there was a stylist entered last, display it here -->

              </div>

              <div class="col-xs-6">
                {% include "partials/add_stylist_form.html" %}
              </div>

            </div>
          </div>
        </div>

    </div>
  </body>
</html>
