<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <div class="list-group">
          <a href="home.html.twig" class="list-group-item">Search</a>
          <a href="clients.html.twig" class="list-group-item">Clients</a>
          <a href="stylists.html.twig" class="list-group-item">Stylists</a>
          <a href="add_clients.html.twig" class="list-group-item">Add Clients</a>
          <a href="add_stylists.html.twig" class="list-group-item">Add Stylists</a>
        </div>

        <div class="col-xs-5">
          <div class="panel panel-primary">
            <div class="panel-heading">List of Stylists:
            </div>
            <div class="panel-body">

            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="panel panel-primary">
            <div class="panel-heading">Add Stylist Form:
            </div>
            <div class="panel-body">
              {% include "partials/add_stylist_form.html" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
