<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="home.html.twig">Home</a></li>
        <li role="presentation"><a href="clients.html.twig" class="active">Clients</a></li>
        <li role="presentation"><a href="stylists.html.twig">Stylists</a></li>
        <li role="presentation"><a href="add_forms.html.twig">Add Forms</a></li>
      </ul>

      <div class="row">

        <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading">List of Clients:
            </div>
            <div class="panel-body">

              <!-- insert list of clients here -->

            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Search for Client:
            </div>
            <div class="panel-body">
              {% include "partials/search_clients_form.html" %}
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
