<!DOCTYPE html>
<html lang="en">
  {% include "/partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="panel with-nav-tabs">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/clients">Clients</a></li>
            <li><a href="/stylists">Stylists</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <h3>List of Clients:</h3>
              <ul>
                {% for client in clients %}
                  <li><a href="edit_client/{{client.getId}}">{{ client.getName }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-xs-6">
              <h3>New Clients:</h3>
              <p>Add a new client in the form below.</p>
              <form action="/added_client" method="post">
                <div class="form-group">
                  <label for="add-client">Add the client's name:</label>
                  <input class="form-control" name="add-client" type="text" placeholder="Linda Longhair">
                </div>
                <label for="stylist_id">Select an existing stylist for the client:</label>
                <select name="stylist_id" class="form-control">
                    <option value="0"></option>
                    {% for stylist in stylists %}
                    <option value="{{stylist.getId}}">{{stylist.getName}}</option>
                    {% endfor %}
                </select>
                <label for="new_stylist">Or add a new stylist:</label>
                <input name="new_stylist" class="form-control" value="">
                <button type="submit" name="form-submit">Click to update!</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
