<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="panel with-nav-tabs panel-primary">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li class="active"><a href="/stylists">Stylists</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <h3>Welcome to your SQL Salon Manager!</h3>
          <div class="row">

            <div class="col-xs-6">

              <!-- If there was a stylist entered last, display it here -->

            </div>

            <div class="col-xs-6">
              {% include "partials/edit_stylist.html" %}
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
