<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="panel with-nav-tabs panel-primary">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li class="active"><a href="/stylists">Stylists</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <h3>Welcome to your SQL Salon Manager!</h3>
          <div class="row">

            <div class="col-xs-6">
              <h3>Stylist: {{ stylist.getName }}</h3>
              <h3>Client: {{ client.getName }}</h3>
              <p>Edit the stylist in the form to the right.</p>
            </div>

            <div class="col-xs-6">
              <form action="/edit_stylist" method="post">
                <div class="form-group">
                  <label for="edit-stylist">Add a stylist to the salon:</label>
                  <input class="form-control" name="edit-stylist" type="text" placeholder="Darren Dyes">
                </div>
                <button type="submit" name="form-submit">Click to update!</button>
              </form>
              <form action="/delete_stylist" method="post">
                <button type="submit" name="form-submit">Or delete the stylist!</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
