<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

        <ul class="nav nav-tabs nav-justified">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="/clients">Clients</a></li>
          <li role="presentation"><a href="/stylists">Stylists</a></li>
        </ul>

        <div class="panel panel-primary">
          <div class="panel-heading">Welcome to your SQL Salon Manager!
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-6">
                <p>Add new clients in the form to the right. In order to add a client, you must have a stylist to associate them with. If you do not have a stylist entered yet, please add them first.</p>

              <!-- If there was a client added last, display it here -->

              </div>

              <div class="col-xs-6">
                {% include "partials/add_client_form.html.twig" %}
              </div>

            </div>
          </div>
        </div>

    </div>
  </body>
</html>
