<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

        <ul class="nav nav-tabs nav-justified">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/clients">Clients</a></li>
          <li role="presentation" class="active"><a href="/stylists">Stylists</a></li>
        </ul>

        <div class="panel panel-primary">
          <div class="panel-heading">Welcome to your SQL Salon Manager!
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-6">

                <!-- If there was a stylist entered last, display it here -->

              </div>

              <div class="col-xs-6">
                {% include "partials/add_stylist_form.html" %}
              </div>

            </div>
          </div>
        </div>

    </div>
  </body>
</html>
