<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="row">

        <div class="col-xs-2">
          <div class="list-group">
          <a href="home.html.twig" class="list-group-item">Home</a>
          <a href="clients.html.twig" class="list-group-item">Clients</a>
          <a href="stylists.html.twig" class="list-group-item">Stylists</a>
          </div>
        </div>

        <div class="col-xs-10">
          <div class="panel panel-primary">
            <div class="panel-heading">Welcome to your SQL Salon Manager!
            </div>
            <div class="panel-body">
              <p>Designed to easily manage your team of stylists and ensure you can properly maintain their clientele base.There is a built in database that allows you to easily add new clients and new stylists and pair them up. It also allows you to clear out the database at a moments notice in case that becomes necessary. For assistance click the link below:</p>
              <button class="btn btn-warning btn-lg"><a href="https://github.com/RAAllen/sql_salon">Click me!</a></button>
              <div class="row">
                <div class="col-xs-5">
                  {% include "partials/add_client_form.html.twig" %}
                </div>
                <div id="second-add-form" class="col-xs-5">
                  {% include "partials/add_stylist_form.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
