<!DOCTYPE html>
<html lang="en">
  {% include "/partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="panel with-nav-tabs panel-default">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/clients">Clients</a></li>
            <li role="presentation" class="active"><a href="/stylists">Stylists</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <h3>List of Stylists:</h3>
              <ul>
                {% for stylist in stylists %}
                  <li><a href="/edit_stylist/{{stylist.getId}}">{{ stylist.name|e }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-xs-6">
              <h3>New Stylist:</h3>
              <p>Add a new stylist in the form below.</p>
              <form action="/added_stylist" method="post">
                <div class="form-group">
                  <label for="add-stylist">Add a stylist to the salon:</label>
                  <input class="form-control" name="add-stylist" type="text" placeholder="Darren Dyes">
                </div>
                <button type="submit" name="form-submit">Click to add!</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
