<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Salon Manager</h1>
      </div>

      <div class="row">

        <div class="col-xs-2">
          <div class="list-group">
          <a href="home.html.twig" class="list-group-item">Home</a>
          <a href="clients.html.twig" class="list-group-item">Clients</a>
          <a href="stylists.html.twig" class="list-group-item">Stylists</a>
          </div>
        </div>

        <div class="col-xs-5">

          <div class="panel panel-primary">
            <div class="panel-heading">List of Stylists:
            </div>
            <div class="panel-body">

            <!-- insert stylist list here -->

            </div>
          </div>

        </div>

        <div class="col-xs-5">
          <div class="panel panel-primary">
            <div class="panel-heading">Search for Stylist:
            </div>
            <div class="panel-body">
              {% include "partials/search_stylists_form.html" %}
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Add a Stylist:
            </div>
            <div class="panel-body">
              {% include "partials/add_stylist_form.html" %}
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
